@import './variables.scss';
@import './all.scss';
@import './common.module.scss';



.subContentWrap {
    position: relative;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    @media(max-width: $break-s){ 
        padding: 4rem 2rem;
    }
    
    .subContentTitle {
        color: rgba($color: #522b7b, $alpha: 1);
        font-family: $enFont;
        margin-bottom: 2rem;
    }
    .subContentGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
        text-align: left;
        line-height: 30px;
        grid-template-areas:
            "a c"
            "b c";

        .gridA {
            grid-area: a;
            justify-self: start;
        }
        .gridB {
            grid-area: b;
        }
        

        .subContentImg { 
            grid-area: c;
            position: sticky;
			top: 50px;
            width: 90%;
            img{
                width: 100%;
            }
            @media(max-width: $break-s){ 
                width: 100%;
                position: relative;
			    align-self: end;
                top: 0;
                
            }
        }

        .subContentTxt {
            position: relative;
            
            p span {
                color: #522b7b;   
            }
            .subContentList { 
                display:flex;
                flex-direction: row;
                
                .listImage {
                    margin-left: -10px;
                    margin-right: 10px;                    
                }
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
            
        }

        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
            grid-template-areas:
            "a"
            "c"
            "b";
            
        }
    }

    .subContentGridAbout {

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: start;
        text-align: left;
        column-gap:2rem;


        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
            justify-items: start;
            row-gap:2rem;
        }

        h3 {
            width:100%;
            margin-bottom: 1rem;
        }

        .subContentTxt {
            line-height: 3rem;
            span {
                
                display: block;
                //text-indent: 2rem;
                padding-left: 2rem;
                line-height: 2rem;
                font-size: 12px;
                color: #909090;
            }
        }

        
        
        .subContentImg { 
            position: sticky;
			top: 50px;
            img{
                width: 100%;
                max-width: 220px;
                @media(max-width: $break-s) { 
                    width: 100%;
                }
            }
            @media(max-width: $break-s) { 
                position: relative;
			    top: 0px;
            }
        }
    }
    
}