@import './variables.scss';
@import './all.scss';


////////////////////////////////////////////////
//共通
////////////////////////////////////////////////

//サブタイトル
.subtitle {
    color: $base-color;
    text-align: center;
    margin: 0 auto;
    font-size: rem(26);
    span {
        font-family: $enFont;
        font-size: rem(12);
        letter-spacing: .4rem;
        display: block;
    }
    padding: 5rem 0;
}

//CVボタン
.morebutton {
    position: relative;
    font-family: $enFont2;
    color: $base-color;
    font-size: rem(12);
    letter-spacing: 0.16rem;
    
    a {
        transition: all 0.3s;
    }
    a:hover {
        opacity: 0.5;
    }
    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        margin-left: 1rem;
        background: $base-color;
        border-radius: 100%;
        svg {
            display: block;
            color: #fff;
            text-align: center;
            margin: 0 auto;
            padding-top: 18px;
            
        }
    }   
}

//その他ボタン
.backButton,
.topButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    height: 60px;
    border-radius: 0.2rem;
    border: 1px solid $base-color;
    color: $base-color;
}

////////////////////////////////////////////////////////
//loader
.loaderWrap {
    .loaderArea {
        position: fixed;
        top: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        //background-color: lighten($base-color,40%);
        background-color: $bg-color;
        transition: all 0.4s ease-in-out;
        .loaderInner {
            img {
                width: 200px;
            }
        }
    }
    .inactive {
        top: -100vh;
    }
}

////////////////////////////////////////////////////////
//pagetop
.scrollBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    animation: fadeIn .5s ease 0s 1 normal;
    p {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
    p::before {
        content: "";
        width: 12px;
        height: 12px;
        margin-bottom: -6px;
        border-top: solid 3px $base-color;
        border-right: solid 3px $base-color;
        transform: rotate(-45deg);
    }
   
}
  
#scrollBtn:hover {
    opacity: 0.5;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


////////////////////////////////////////////////////////
// Header
.headerWrapper {    
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    @media(max-width: $break-s){ height: 70px; }
    z-index: 11;
    align-items: center;
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -70px;
        @media(max-width: $break-s){ top: -70px; }
        background-color: rgba(255, 255, 255, 1); /* 背景色 */
        display: flex;
        transition: all 0.3s;

        .contentInner {
            padding: 0 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .logo {
                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    padding-top: 4px;
                    // @media(max-width: $break-s){ width: 110px; }
                }
            }
            ul {
                display: flex;
                align-items: center;
                @media(max-width: $break-s){ display: none; }
                a {
                    display: block;
                    width: 100%;
                    margin: 1rem;
                    color:#333;
                    text-decoration: none; /* デフォルトの下線を非表示にする */
                    text-align: center;
                    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
                    span {
                        display: block;
                    }
                    
                }
                a.selected {
                    color: $base-color;
                }
                :hover {
                    color: $active-color;
                } 
                .ctaBtn {
                    a {
                        color: #fff;
                        span:after {
                            margin-top: -.7em;
                            
                        }
                    }               
                }
            }
        }
    }
    .active {
        top: 0px;
    }
}

////////////////////////////////////////////////////////
// Footer
.footerWrapper {
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color:#5c5d5d;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    .footerInner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        max-width: 980px;
        margin: 0 auto;
        text-align: left;
        line-height: rem(30);
        padding-bottom: 4rem;
        .logo {
            margin-bottom: 4rem;
        }
        @media(max-width: $break-s) {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        ul {
            line-height: 4rem;
        }
        

        
    }
    .snsArea{
        padding: 0;
        display: flex;
        justify-content: center;
        padding: 4rem 0;
        div a {
            color: #fff;
            padding: 2rem;
        }
        
    }
    .copyright {
        color:#fff;
        font-size: 0.8rem;
        line-height: normal;
        span {
            text-decoration: underline;
        }
    }
}


////////////////////////////////////////////////////////
//Menu
.menuWrapper {
    position: absolute;
    z-index: 20;
    .menuBtn {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 70px;
        height: 70px;
        box-sizing: border-box;
        background-color: $base-color;
        transition: opacity 0.3s ease;
        z-index: 20;
    }
    .menuBtn::before {
        position: absolute;
        top: 38%;
        left: 25%;
        display: block;
        content: "";
        width: 50%;
        height: 1px;
        background: #fff;
        transform: rotate(0deg);
        transition: all 0.3s;
    }
    
    .menuBtn::after {
        position: absolute;
        bottom: 38%;
        left: 25%;
        display: block;
        content: "";
        width: 35%;
        height: 1px;
        background: #fff;
        transform: rotate(0deg);
        transition: all 0.3s;
        
    }
    .menuBtn:hover {
        opacity: 0.5;
    }

    .active {
        background-color: #fff;
    }
    .active::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
        background: $base-color;
        
    }
    .active::after {
        width: 50%;
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
        background: $base-color;
        
    }
    .menuInner {
        position: fixed;
        height: 100%;
        width: 30%;
        @media(max-width: $break-s){ 
            width: 100%;
        }
        background-color: rgba($color: $base-color, $alpha: 1);
        top: 0;
        right: -100vw;
        color: #333;
        transition: all 0.2s;
        text-align: left;
        
        .logo {
            padding: 1rem 2rem;
            margin: 0 auto;
            img {
                height: 40px;
                width: auto;
            }
        }
        
        li {
            text-align: left;
            text-indent: 2rem;
            color: #fff;
            a {
                display: block;
                padding: 1.6rem 0;
                transition: opacity 0.3s ease;
                line-height: 1rem;
                span {
                    display: block;
                    font-family: $baseFont;
                    font-size: 2rem;
                }
            }
            a:hover {
                opacity: 0.5;
            }
            a.selected {
                color:#8f61a6;
            }
            .subMenu {
                margin-left: 1.5rem;
            }
        }
        
    }
    
    .menuInner.menuShow {   
        -webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
    }
}

////////////////////////////////////////////////////////
//ContactArea

.contactArea {
    position: relative;
    //background-color: $bg-color;
    width: 100%;
    margin-bottom: 10rem;
    background-image: url('../images/contact_bg.jpg') ;
    //background: url('../images/contact_bg.jpg') no-repeat 0 0 / cover;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
    width: 100%;
    height: 300px;
    
    
    .gridbox {
        background-color: #fff;
        border: 1px solid $base-color;
        @extend %container;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 4rem 0;
        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
            row-gap: 1rem;
            padding: 2rem 0;
        }
        .telbox {
            color: $base-color;
            .telNumber {
                font-size: rem(30);
                span {
                    font-size: rem(16);
                }
            }
        }

        .btnbox {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 70px;
            grid-template-columns: 1fr 100px;
            
            background: $active-color;
            border-radius: 0.2rem;
            color: #fff;
            font-size: rem(18);
            padding-right: 1rem;
            div { 
                width: 100%;
                display: flex;
                justify-content: end;
            }
            .envelop {
                span {
                    margin-right: 1rem;
                }
            }
            
        }
        
    }
}



////////////////////////////////////////////////////////
//お問い合わせ・コンタクトページ
form {
    margin: 0 auto;
    text-align: center;
    max-width: 520px;
    margin-top: 4rem;
    .tenpu{
        span {
            font-size: rem(12);
            padding-left: 1rem;
        }
        input {
            background: none;
            border-radius: none;
            border: none;
            padding-left: 0em;
        }
    }
}
form div{
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
        display: flex;
        width: 100%;
        letter-spacing: 0.05em;
        font-weight: bold;
        max-width: inherit;
        align-items: center;
    }
    input {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        flex: 1;
        width: 100%;
        background: #eaedf2;
        margin-top: 8px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
    
    .required {
        border-radius: 4px;
        margin-right: 8px;
        padding: .1rem 0;
        width: 48px;
        display: inline-block;
        text-align: center;
        background: $base-color;
        color: #fff;
        font-size: rem(12);
    }
    textarea {
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        height: 216px;
        flex: 1;
        width: 100%;
        background: #eaedf2;
        font-size: 18px;
    }

    .contactButton {
        border-radius: 6px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 280px;
        display: block;
        letter-spacing: 0.05em;
        background: $active-color;
        color: #fff;
        font-weight: bold;
    }

    
}