@import './variables.scss';
@import './all.scss';


////////////////////////////////////////////////
//共通
////////////////////////////////////////////////

.subHeader {
    position: relative;
    width: 100vw;
    //overflow: hidden;
    border-bottom: 3px solid #EFC413;
    background: url('../images/noise.png'),linear-gradient(135deg, #F7FF9F 0%, #A5F0FF 100%);
    background-repeat: repeat;
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    @media(max-width: $break-s){ 
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
    p {
        text-align: center;
        z-index: 1;
        font-size: rem(24);
        font-weight: 600;
        line-height: rem(36);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

.contentWrap {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 2rem 1rem 4rem 1rem;
}

//CVボタン
.morebutton {
    position: relative;
    font-family: $enFont;
    color: $base-color;
    font-size: rem(12);
    letter-spacing: 0.16rem;
    padding: 2rem 0;
    a {
        transition: all 0.3s;
    }
    a:hover {
        opacity: 0.5;
    }
    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        margin-left: 1rem;
        background: $base-color;
        border-radius: 100%;
        svg {
            display: block;
            color: #fff;
            text-align: center;
            margin: 0 auto;
            padding-top: 18px;
            
        }
    }   
}

//その他ボタン
.backButton,
.topButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    height: 60px;
    border-radius: 0.2rem;
    border: 1px solid $base-color;
    color: $base-color;
}

////////////////////////////////////////////////////////
//loader
.loaderWrap {
    .loaderArea {
        position: fixed;
        top: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        //background-color: lighten($base-color,40%);
        background-color: $bg-color;
        transition: all 0.4s ease-in-out;
        .loaderInner {
            img {
                width: 200px;
            }
        }
    }
    .inactive {
        top: -100vh;
    }
}

////////////////////////////////////////////////////////
//pagetop
.scrollBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    animation: fadeIn .5s ease 0s 1 normal;
    p {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
    p::before {
        content: "";
        width: 12px;
        height: 12px;
        margin-bottom: -6px;
        border-top: solid 3px $base-color;
        border-right: solid 3px $base-color;
        transform: rotate(-45deg);
    }
   
}
  
#scrollBtn:hover {
    opacity: 0.5;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


////////////////////////////////////////////////////////
// Header
.headerWrapper {    
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 11;
    align-items: center;
    font-size: rem(14);
    height: 64px;
    @media(max-width: $break-s){ height: 50px; }

    

    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        // top: -90px;
        // @media(max-width: $break-s){ top: -50px; }
        background-color: rgba(255, 255, 255, 0.8); /* 背景色 */
        display: flex;
        transition: all 0.3s;

        height: 64px;
        @media(max-width: $break-s){ height: 50px; }

        .innerPc {
            display: grid;
            @media(max-width: $break-s){ display: none; }
            padding: 0 1vw;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            column-gap: 1rem;
            align-items: center;
            height: 100%;
            
            .logo {
            display: grid;
            align-items: center;
                img {
                    height: 50px;
                    @media(max-width: $break-s){ height: 40px; }
                }
            }
            ul {
                display: grid;
                justify-self: end;
                align-items: center;
                margin-left: auto;
                grid-template-columns: repeat(4, 1fr);
                width: 50%;
                min-width: 500px;
                text-align: center;
                @media(max-width: $break-s){ display: none; }
                
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none; /* デフォルトの下線を非表示にする */
                    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
                    span {
                        display: block;
                    }
                }
                
                a.selected {
                    color: $active-color;
                }
                :hover {
                    color: $active-color;
                } 
                
            }

            
        }

        .innerSp {
            position: relative;
            display: none;
            @media(max-width: $break-s){ display: block; }
            height: 100%;
            width: 100%;
            .logo {
                display: grid;
                align-items: center;
                justify-content: center;
                height: 100%;
                a {
                    display: grid;
                    align-items: center;
                    height: 100%;
                }
                img {
                    
                    height: 40px;
                }
            }
            .ctaWrap {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                grid-template-columns: repeat(2, 40px);
                margin-right: 2vw;
                .ctaBtn,
                .memberBtn {
                    a {
                        display: block;
                        text-align: center;
                        line-height: 40px;
                        color: $txt-color;
                        background-color: transparent;            
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        border-radius: 0;
                        font-size: rem(17);
                    }
                }
                
                
            }
            
        }
        .ctaWrap {
            display: grid;
            justify-self: end;
            margin-left: auto;
            grid-template-columns: repeat(2, 180px);
            column-gap: .4rem;
            
            .ctaBtn,
            .memberBtn {
                a {
                    color: #fff;
                    background-color: $active-color;            
                    padding: 0.6rem 1.4rem;
                    border-radius: 20px;
                    span {
                        display: inline-block;
                        padding-right: .6rem;
                    }
                }
                a:hover {
                    opacity: 0.7;
                }
                a span {
                    padding-left: .6rem;
                }
            }
            
            .memberBtn {
                a {
                    background-color: $txt-color;
                }
            } 
        }
    }
    .active {
        top: 0px;
    }

    //dropdown
    .dpParentBtn {
        font-size: rem(14);
        height: 62px;
        background: transparent;
        color: $txt-color;
        border: none;
    }
    .dpParentBtn:hover {
        background: transparent;
    }
    .dpParentBtn.show {
        background: transparent!important;
        color: #fff;
    }
    .dpParentBtn.btn {
        background-color: #ff0000!important;
        color: #fff;
    }
    .btn.show {
        background-color: #ff0000!important;
        color: #fff;
    }

    .dpMenu {
        transform: translate(20px, 63px)!important;
        background-color: rgba(255, 255, 255, 0.8); /* 背景色 */
        font-size: rem(14);
        border-radius: 0%;
        border: none;
        
        line-height: 3rem;
        :hover {
            display: block;
        }
        .dpMenuItem {
            text-align: left;
        }
    }

    
}

////////////////////////////////////////////////////////
// Footer
.footerWrapper {
    color: #fff;
    position: relative;
    text-align: center;
    background-color:$base-color;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    .footerInner {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-items: center;
        align-items: start;
        max-width: 1080px;
        margin: 0 auto;
        text-align: left;

        .infoT {
            display: grid;
            row-gap: 1rem;
            justify-items: start;
            align-items: start;
            line-height: 1.4rem;
            
            .logoTitle {
                font-size: 1rem;
            }
        }

        .gnavi {
            display: grid;
            grid-template-columns:repeat(3,1fr);
            justify-items: start;
            align-items: start;
            
            
            @media(max-width: $break-s) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }
        
        @media(max-width: $break-s) {
            grid-template-columns: 1fr;
            
            row-gap: 3rem;
        }

        ul {
            line-height: 2.4rem;
            
            li {
                padding-left: 14px;
            }
            li.mainT {
                padding-left: 0px;
            }
            span {
                font-size: 0.6rem;
                padding-right: 4px;
            }
        }
    }
    
    .copyright {
        color:#fff;
        font-size: 0.8rem;
        line-height: normal;
        padding-top: 4rem;
        span {
            text-decoration: underline;
        }
    }
}


////////////////////////////////////////////////////////
//Menu
.menuWrapper {
    position: absolute;
    z-index: 20;
    display: none;
    @media(max-width: $break-s){ 
        display: block;
    }
    .menuBtn {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        background-color: $active-color;
        z-index: 20;
    }
    .menuBtn::before {
        position: absolute;
        top: 38%;
        left: 25%;
        display: block;
        content: "";
        width: 50%;
        height: 1px;
        background: #fff;
        transform: rotate(0deg);
        transition: all 0.3s;
    }
    
    .menuBtn::after {
        position: absolute;
        bottom: 38%;
        left: 25%;
        display: block;
        content: "";
        width: 35%;
        height: 1px;
        background: #fff;
        transform: rotate(0deg);
        transition: all 0.3s;
        
    }
    

    .active {
        background-color: #fff;
    }
    .active::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
        background: $base-color;
        
    }
    .active::after {
        width: 50%;
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
        background: $base-color;
        
    }
    .menuInner {
        position: fixed;
        height: 100%;
        width: 100%;
        @include gradient(135deg, $base-color, $active-color);
        top: 0;
        left: -100vw;
        transition: all 0.2s;
        text-align: left;
        overflow-y: scroll;
        padding-top: 4rem;
        padding-bottom: 7rem;
        li {
            text-align: left;
            text-indent: 2rem;
            color: #fff;
            line-height: 3rem;
            a {
                display: block;
                transition: opacity 0.3s ease;
            }
            a:hover {
                opacity: 0.5;
            }
            
            
        }
        li.subMenu {
            text-indent: 3rem;
        }

        li span {
            color: rgba($color: #fff, $alpha: 0.6);
            font-size: rem(14);
        }
        
    }
    
    .menuInner.menuShow {   
        -webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
    }
}

////////////////////////////////////////////////////////
//ContactArea

.contactArea {
    position: relative;
    width: 100%;
    padding: 2rem 0;
    background-image: url('../images/contactBg.jpg') ;
    // background-color:rgba(255,255,255,0.8);
    // background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: "Shippori Mincho", serif;
    .gridbox {
        @extend %container;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 2rem 0;
        justify-items: center;
        align-items: center;
        padding: 3rem 0;
        border-radius: 0.4rem;
        
        .contactTxt {
            color: #fff;
            .txt_1 {
                font-size: rem(30);
                line-height: 60px;
            }
            .txt_2 {
                padding-top: 2rem;
                font-size: rem(20);
                line-height: 30px;
            }
        }

        .btnbox {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 10px;
            color: #fff;
            font-size: rem(18);
            letter-spacing: .2rem;
            
            
        }
        
    }
}



////////////////////////////////////////////////////////
//お問い合わせ・コンタクトページ
form {
    margin: 0 auto;
    text-align: center;
    // max-width: 520px;
    margin-top: 2rem;
    .tenpu{
        span {
            font-size: rem(12);
            padding-left: 1rem;
        }
        input {
            background: none;
            border-radius: none;
            border: none;
            padding-left: 0em;
        }
    }
}
form div{
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
        display: flex;
        width: 100%;
        letter-spacing: 0.05em;
        font-weight: bold;
        max-width: inherit;
        align-items: center;
    }
    input {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        flex: 1;
        width: 100%;
        background: #eaedf2;
        margin-top: 8px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
    
    .required {
        border-radius: 4px;
        margin-right: 8px;
        padding: .1rem 0;
        width: 48px;
        display: inline-block;
        text-align: center;
        background: $base-color;
        color: #fff;
        font-size: rem(12);
    }
    textarea {
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        height: 216px;
        flex: 1;
        width: 100%;
        background: #eaedf2;
        font-size: 18px;
    }

    .contactButton {
        border-radius: 6px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 280px;
        display: block;
        letter-spacing: 0.05em;
        background: $active-color;
        color: #fff;
        font-weight: bold;
    }
}

.snsWrapper {
    position: fixed;
    bottom: 47px;
    left: 20px;
    z-index: 9999;
    
    div {
        float: left;
        font-size: 1.2rem;
        background:#fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: .6rem;
        display: grid;
        justify-content: center;
        align-items: center;
        // box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    }
    
}