@import './variables.scss';
@import './all.scss';
@import './common.module.scss';


////////////////////////////////////////////////

.contentWrap {
    padding: 4rem 2rem;
}

////////////////////////////////////////////////



.grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px,1fr) ) ; 
    column-gap: 2rem;
    row-gap: 2rem;
    text-align: center;
    padding: 3rem 0 2rem 0;
    p {
        margin-top: 1rem;
    }

    .image {
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        padding-bottom: 1rem;
    }

}