@import './variables.scss';
@import './all.scss';
@import './common.module.scss';


////////////////////////////////////////////////

.mainVisual {
    position: relative;
    width: 100vw;
    height: 100vh;
    //overflow: hidden;
    background: #fff;
    .txtArea {
        width: 100%;
        z-index: 1;
        position: absolute;
        text-align: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        margin-left: 1.6rem;
        h1 {
            font-size: rem(90);
            margin-bottom: 3rem;
            letter-spacing: .4rem;
            span {
                font-size: rem(70);
            }
        }
        h5 {
            font-size: rem(20);
            letter-spacing: .6rem;
            padding-left: 4px;
        }
        @media(max-width: $break-s){ 
            zoom: 0.7;
            top: auto;
            bottom: 0;
        }
        
    }
    img {
        display:block;
        
        width: 100vw;
        height: 100vh;
    }
}

.feature {
    position: relative;
    //background-color: $bg-color;
    width: 100%;
    padding-bottom: 4rem;
    .skewbg {
        position: absolute;
        top: 0;
        right: calc(14vw - 10%);
        width: 30%;
        min-width: 200px;
        height: 100%;
        background-color: #f3f2f3;
        transform: skewX(15deg);
        z-index: -1;
        
    }
    
    .feature_img {
        position: relative;
        .feature_img01 {
            width: 88%;
            min-height: 260px;
            height: 260px;
            transform: skewX(15deg);
            overflow: hidden;
            margin-left: -40px;
            img {
                width:100%;
                min-height: 160px;
                transform:skewX(-15deg) scale(1.25);
            }
        }
        .feature_img02 {
            position: absolute;
            top: -140px;
            left: 40%;
            width: 26vw;
            min-width: 200px;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        
    }

    .gridArea {
        @extend %container;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-bottom: 10rem;
        text-align: left;
        column-gap: 3rem;
        row-gap: 3rem;
        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
        }
        .txtbox {
            h3 {
                margin-bottom: 2rem;
            }
            .morebutton {
                margin-top: calc( 2vw + 1rem );
            }
            @media(max-width: $break-s){ 
                grid-row: 2;
            }
        }
        .imgbox {
            display: grid;
            width: 100%;
            transform: skewX(15deg);
            
            overflow: hidden;
            img {
                width:100%;
                transform:skewX(-15deg) scale(1.25);
            }
            @media(max-width: $break-s){ 
                width: 74%;
                grid-row: 1;
                justify-self: end;
                transform: skewX(15deg);
                img {
                    width:100%;
                    transform:skewX(-15deg) scale(1.25);
                }
            }
        }
    }
}


.facility {
    position: relative;
    //background-color: $bg-color;
    width: 100%;
    padding-bottom: 4rem;
    background-image: url('../images/facility_bg.jpg') ;
    // background-color:rgba(255,255,255,0.8);
    // background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;

    .morebutton {
        justify-content: center;
        margin-top: 4rem;
        text-align: center;
        //margin: 0 auto;
    }

    .gridArea {
        @extend %container;
        display: grid;
        grid-template-columns:repeat(4,1fr);
        @media(max-width: $break-s){ 
            grid-template-columns:repeat(2,1fr);
        }
        
        justify-items: center;
        align-items: center;
        text-align: left;
        column-gap: 1rem;
        row-gap: 3rem;
        margin: 0 auto;
        .txtbox {
            .facTitle {
                padding: 1rem 0;
            }
        }
        .imgbox {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
}

.aboutus {
    position: relative;
    //background-color: $bg-color;
    width: 100%;
    padding-bottom: 8rem;
    .skewbg {
        position: absolute;
        top: 0;
        left: calc(14vw - 10%);
        width: 30%;
        min-width: 200px;
        height: 100%;
        background-color: #f3f2f3;
        transform: skewX(15deg);
        z-index: -1;
        
    }

    .gridArea {
        @extend %container;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        
        text-align: left;
        column-gap: 3rem;
        row-gap: 3rem;
        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
        }
        .txtbox {
            h3 {
                margin-bottom: 2rem;
            }
            .morebutton {
                margin-top: calc( 2vw + 1rem );
            }
            @media(max-width: $break-s){ 
                grid-row: 2;
            }
        }
        
    }
}

.news {
    @extend %container;
    padding: 0 1rem 4rem 1rem;
    
    .gridArea {
        display: grid;
        grid-template-columns: 1fr 2fr;
        @media(max-width: $break-s){ 
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }
        justify-items: start;
        align-items: center;
        text-align: left;
        .subtitle {
            text-align: left;
            padding: 0rem;
            grid-row: 1;
            grid-column: 1;
            justify-self: start;
            width: 100%;
            @media(max-width: $break-s){ 
                grid-row: 1;
                grid-column: auto;
            }
        }
        .morebutton {
            margin-left: 1rem;
            grid-row: 2;
            grid-column: 1;
            @media(max-width: $break-s){ 
                grid-row: 3;
                grid-column: auto;
                justify-self: end;
            }
        }
        
    }
    .blogArea {
        font-family: "Noto Sans JP", sans-serif;
        width: 100%;
        font-size: rem(12);
        grid-row: 1/3;
        grid-column: 2;
        @media(max-width: $break-s){ 
            grid-row: 2;
            grid-column: auto;
        }
        .blogCard {
            display: grid;
            grid-template-columns: 1fr 3fr;
            justify-items: start;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba($color: $base-color, $alpha: 0.3);
            h3 {
                align-self: start;
            }
        }
    }
}