@import './variables.scss';
@import './common.module.scss';



.blogWrapper {    
    @extend %container;
    margin: auto;
    
    .tabNavi {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 0;
        .tabNaviItem {
            background-color: transparent;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
            span {
                display: block;
                font-family: 'dnp-shuei-gothic-gin-std', sans-serif;
                font-size: 12px;
                @media(max-width: $break-s) { 
                    display: none;
                }
            }
            a {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 12px;
                background-color: transparent; 
            }
            .selected {
                color: #976ae1;
            }
        }
        .tabNaviItem:nth-child(1) {
            border-left: none;
        }
        @media(max-width: $break-s) { 
            li:nth-child(4) {
                border-left: none;
            }
        }
    }
}

.blogCardWrapper {
    clear: both;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media(max-width: $break-s) { 
        grid-template-columns: repeat(2, 1fr);
    }
    column-gap: 2rem;
    row-gap: 1rem;
    .blogCard {
        position: relative;
            margin-bottom: 1.6rem;
            column-gap: 2rem;
            h3 {
                font-size: 16px;
                line-height: 2rem;
            } 

            .blogImgWrapper {
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
                height: 16vh;
                .cardImg{
                    transition:.4s all;
                    width: 100%;
                }
                .cardImg:hover{
                    transform:scale(1.1,1.1);
                    transition:.4s all;
                }
            }

            .blogTags {
                position: absolute;
                top: 0;
                left: 0;
                background: $base-color;
                color: #fff;
                z-index: 1;
                font-size: 10px;
                padding: 0 0.6rem;
            }
            .blogDate {
                font-size: 10px;
                color: rgba($color: #333, $alpha: 0.6);
            }

            .blogbody {
                display: inline-block;
                position: relative;
                height: 200px;
                overflow: hidden;
                width: 300px;
                border: 1px solid;
                padding: 0 20px 20px 20px;
                margin: 5px
            }
            .blogbody:before {
                content: "";
                position: absolute;
                border-style: none;
                left: 0;
                bottom: 0;
                z-index: 2;
                width: 100%;
                height: 120px;
                background: linear-gradient(rgba(255,255,255,0) 0, #fff 100px);   
              }
            p {
                text-align: left;
                font-size: 12px;
                color: #909090;
                height: 20px;
                // @media(max-width: $break-s) { 
                //     line-height: 2rem;
                // }
                position: relative;
                margin: 0 auto;
            }

            .excerpt {
                margin-top: 1rem;
            }
    }
    
}

.relatedWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    .relatedCard {
        border-bottom: dashed 1px #333;

        a {
            color: inherit;
            text-align: left;
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 40px;
            color: #333; 
            justify-items: start;
            align-items: center;
            line-height: inherit;
        }
        a.selected {
            color:#522b7b;
            
        }

        h4 {
            line-height: 20px;
            height: 60px;
            display: grid;
            place-content: center;
        }
        .arrow {
            display: flex;
        } 
        .arrow::after {
            content: '';
            width: 40px;
            height: 8px;
            border-bottom: solid 1px;
            border-right: solid 1px;
            transform: skew(45deg);
            color: $base-color;
        }

        .resultDate {
            font-size: 10px;
        }
 
        .blogTags {
            justify-self: flex-end;
            p {
                background-color: transparent;
                border: 1px solid rgba($color: #000000, $alpha: 0.23);
                color: #999;
                font-size: 10px;
                padding: 0rem 1rem;
                border-radius: 10rem;
                margin-top: 1.2rem 0;
                margin-bottom: 0.6rem;
                text-align: center;
            }
            display: inline-block;
            
            
        }
        
        .blogExcerpt {
            font-size: 12px;
            color: #999;
            margin: 0;
            @media(max-width: $break-s) { 
                display: none;
            }
        }
    }
    
}