@import './variables.scss';
@import './all.scss';
@import './common.module.scss';


////////////////////////////////////////////////

.subtitle {
    position: relative;
    width: 100vw;
    height: 120px;
    //overflow: hidden;
    background-image: url('../images/subHdr.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        width: 100%;
        @include center(xy);
        top: 70%;
        z-index: 1;
        font-size: clamp(1.2rem, calc(5vw + 2.6rem), 8rem);
        font-family: $enFont;
        letter-spacing: 1rem;
        color: rgba($color: #fff, $alpha: 0.1);
    }
    .txtArea {
        width: 100%;
        @include center(xy);
        top: 60%;
        color: #fff;
        font-size: clamp(1rem, calc(5vw + 0.6rem), 2rem);
        letter-spacing: 0.2rem;
        
    }
}

.subContent {
    @extend %container;
    text-align: left;
    width:90%;
    padding: 4rem 0;
    font-family: "Noto Sans JP", sans-serif;
    h2 { color: $base-color; font-family:$baseFont; padding-top: 4rem; padding-bottom: 2rem; text-align: center; }
    
}

.mission {
    h2 {
        text-align: left;
    }
    
    padding-bottom: 4rem;
    .rightTxt {
        text-align: right;
    }
}

.grid_1clm_altimg {
    .gridbox {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        @media(max-width: $break-s){ 
            grid-template-columns:repeat(1,1fr);
        }
        justify-items: start;
        align-items: start;
        text-align: left;
        column-gap: 2rem;
        row-gap: 3rem;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 2rem 0;
        .title {
            font-weight: bold;
            font-size: 1.2rem;
        }
        .imgbox {
            @media(max-width: $break-s){ 
                grid-row: 1;
            }
            width: 100%;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
}

.grid_2clm {
    display: grid;
    //grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    
    grid-template-columns:repeat(3,1fr);
    @media(max-width: $break-s){ 
        grid-template-columns:repeat(2,1fr);
    }
    column-gap: 1rem;
    justify-items: center;
    align-items: start;
    .gridbox {
        text-align: left;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0.6rem 0;
        width: 100%;
        .title {
            font-size: rem(14);
            padding-top: 0.6rem;
        }
        .imgbox {
            
            width: 100%;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
}

.outline {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    
    div {
        display: flex;
        align-items: start;
        border: .5px dashed rgba($color: #000000, $alpha: 0.1);
        background: rgba($color: #ffffff, $alpha: 0.4);
        padding: 1rem .8rem;
    }
    
}

.gmap {
    width: 100%;
    height: 400px;
    background: #fff;
    .gmapInner {
        display: block;
        width: 100%;
        height: 400px;
        border:none;
        padding:0;
        margin:0;
    }
}

.blogArea {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Noto Sans JP", sans-serif;
    width: 100%;
    font-size: rem(12);
    
    .blogCard {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-items: start;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid rgba($color: $base-color, $alpha: 0.3);
        h3 {
            align-self: start;
        }
    }
}


////////////////////////////////////////
//new記事ページ
.singlePage {
    text-align: left;
    
    /*リセット*/
    h1,h2,h3,h4,h5,h6 {
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    /*デザイン*/
    
    h1 {
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        padding: 15px 0;
        margin-bottom: 1em;
    }
    h1::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100px;
        height: 4px;
        background: rgba($color: $base-color, $alpha: 1.0);
        z-index: 1;
    }
    h1::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: rgba($color: $base-color, $alpha: 0.3);
    }
    h2 {
        font-size: 1.4rem;
        font-family: "Noto Sans JP", sans-serif;
        text-align: left;
        font-weight: bold;
        padding: 6px 10px;
        margin-bottom: 1em;
        color: #ffffff;
        background: $base-color;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 6px 10px;
        margin-bottom: 1em;
        border: 3px solid $base-color;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 6px 10px;
        margin-bottom: 1em;
        border-bottom: 3px solid $base-color;
    }
    h5 {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 6px 10px;
        margin-bottom: 1em;
        border-bottom: 3px dotted $base-color;
    }
    h6 {
        font-size: 15px;
        font-weight: bold;
        padding: 5px 20px;
        margin-bottom: 1em;
        border-left: 8px solid #FA1E0E;
    }

    .subTitle {
        margin-bottom: 0em;
    }

    .contentInner {
        margin: 4rem 0;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0;

        th {
            padding: 10px;
            background: rgba($color: $base-color, $alpha: 0.1);
            border: solid 1px #778ca3;
        }
        td {
            padding: 10px;
            border: solid 1px #778ca3;
        }
    }

    figure {
        text-align: center;
        margin: 0 auto;
    }
}

.topButton {
    margin-top: 4rem;
}